Source: openmediavault-kerberos
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3
Homepage: https://github.com/ikogan/openmediavault-kerberos

Package: openmediavault-kerberos
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 1.0.7), libpam-krb5, krb5-user
Description: Kerberos authentication for SSH, NFS, SMB, and PAM.
 The OpenMediaVault Kerberos plugin provides authentication,
 via the Kerberos system, including support for secure and/or encrypted
 NFS as well as Kerberos support for SMB/CIFS and SSH. It *does not*
 provide a KDC or Admin server. This means that there must
 exist a Kerberos server on the network to handle authentication and ticket
 requests.
 .
 Kerberos is a ticket based authentication protocol that allows machines
 and services to communicate securely over an unsecure network. Kerberos
 uses secret key cryptography to establish a trust relationship between
 clients and servers. Once that relationship is established, communications
 can be verified and encrypted for the lifetime of the session.
 .
 Note that this *should not* be used in tandem with a Samba Active Directory
 Domain Controller on the same machine as Samba has it's own Kerberos
 implementation.
